{% extends "_base_3.html" %}
{% load static %}


{% block extra_head %}
<link href="{% static 'css/response.css' %}" rel="stylesheet" />
{% endblock extra_head %}


{% block content %}
<div id="error-box" class="error-b">
    <div class="dot"></div>
    <div class="dot two"></div>
    <div class="face2">
    <div class="eye"></div>
    <div class="eye right"></div>
    <div class="mouth sad"></div>
    </div>
    <div class="shadow move"></div>
    <div class="message"><h1 class="alert">Error! Not Signed-in</h1><p>Not signed in, please login to access the service you are requesting!!!</div>
</div>


{% endblock content %}