{% extends "_base_2.html" %}
{% load static %}

{% block extra_head %}
<link href="{% static 'css/ticket.css'%}" rel="stylesheet"/>
{% endblock extra_head %}


{% block content %}
<div class="ticket-view">
    <h1>Ticket Information</h1>
    <div>
        <pre><strong class="t-key">Ticket ID:</strong>      {{ ticket_info.ticket_id }}</pre>
        <pre><span class="t-key">Assigned To:</span>    {{ ticket_info.assigned_to }}</pre>
        <pre><span class="t-key">Status:</span>         {{ ticket_info.status }} {% if ticket_info.status != 'Open' %}<i class="bi bi-circle-fill" style="color: green; font-size: smaller;"></i>{% else %}<i class="bi bi-circle-fill" style="color: red; font-size: smaller;"></i>{% endif %}</pre>
        <pre><span class="t-key">Start Date:</span>     {{ ticket_info.start_date }}</pre>
        <pre><span class="t-key">Close Date:</span>     {{ ticket_info.close_date }}</pre>
        <pre><span class="t-key">Department:</span>     {{ ticket_info.department }}</pre>
        <pre><span class="t-key">Description:</span>    {{ ticket_info.description }}</pre>
    </div>

    <br />

    <h3 class="text" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Tasks   <i class="bi bi-caret-right"></i></h4>
    
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
               <ul class="list-group"> 
                {% for task in ticket_info.tasks %}
                    <li class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target=#li-{{ task.task_id }} aria-expanded="false" aria-controls={{ task.task_id }}> 
                        <i class="bi bi-list"></i>  
                        {% if task.status == 0 %}
                            <span class="task-status">
                                &emsp;<i class="bi bi-circle-fill" style="color: red; font-size: smaller;"></i> &nbsp;open
                            </span>
                        {% else %}
                            <span class="task-status">
                                &emsp;<i class="bi bi-circle-fill" style="color: green; font-size: smaller;"></i>&nbsp;close
                            </span>
                        {% endif %}

                        <span class="task-date">
                            &emsp; {{ task.assigned_date }}
                        </span>

                        <span class="task-assignee">
                            &emsp;&emsp; {{ task.assigned_to }}
                        </span>


                    </li>
                    <div class="col">
                    <div class="collapse multi-collapse" id=li-{{ task.task_id }}>
                        <div class="card card-body">
                            <h5>Task Description: </h5>
                            
                            <span class="text-task_description">
                                {{ task.description }}
                            </span>

                            <br /> <br />
                            <span class="d-inline-flex gap-1">
                                <button class="button-task-done btn btn-primary" data-task_id={{ task.task_id }} type="button">
                                   {% if task.status == 0%}
                                        Close Task
                                    {% else %}
                                        Re-open Task
                                   {% endif %}
                                </button>
                            </span>
                        </div>
                    </div>
                    </div>
                {% endfor %}    
               </ul>
            </div>
        </div>
    </div>
    <br />
    <p class="d-inline-flex gap-1">
        <button id = "button-create-task" data-ticket_id = {{ ticket_info.ticket_id }} type="button" class="btn btn-primary">
            Create New Task
        </button>
        <button id="button-close-tick" data-ticket_id={{ ticket_info.ticket_id }} type="button" class="btn btn-danger">
            Close Ticket
        </button>
    </p>
    
   

</div>


{% endblock content %}